black
build
coverage[toml]
flake8
isort
mypy
pytest
pytest-cov
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx
twine<3.4
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
