black
build
codespell
coverage[toml]
flake8
isort
mypy
pytest
pytest-cov
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx
twine<3.4
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
